<header>
    <div id="hero-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {{#get "posts" limit="all" filter="featured:true"}}            
            {{#foreach posts}}
            {{#if featured}}
            {{#if @first}}                
            <li data-target="#hero-carousel" data-slide-to="{{@index}}" class="active"></li>
            {{else}}
            <li data-target="#hero-carousel" data-slide-to="{{@index}}"></li>
            {{/if}}
            {{/if}}
            {{/foreach}}
            {{/get}}
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-inner" role="listbox">
                {{#get "posts" limit="all" filter="featured:true"}}
                {{#foreach posts}}
                {{#if featured}}
                {{#if @first}}
                <div class="item active">
                {{else}}
                <div class="item">
                {{/if}}
                    <figure class="tint">
                        <img src="{{image}}" alt="{{{title}}}" />
                    </figure>
                    <div class="header-content hidden-xs">
                        <div class="header-content-inner">
                            <img class="coin" src="{{asset "img/coin_brok.png"}}" />
                            <h1>{{{title}}}</h1>
                            <hr>
                            <p>
                                {{#if meta_description}}
                                {{meta_description}}
                                {{else}}                                
                                {{excerpt words="15"}}...
                                {{/if}}
                            </p>
                            <a href="{{url}}" class="btn btn-primary btn-xl">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="carousel-caption visible-xs">
                          <div class="row">
                            <div class="col-xs-3">
                                <img class="img-responsive" src="{{asset "img/coin_brok.png"}}" />
                            </div>
                            <div class="col-xs-9">
                                <h3>{{{title}}}</h3>
                                <a href="{{url}}" class="btn btn-primary btn-sm">
                                    Learn More
                                </a>
                            </p>
                            </div> 
                        </div> 
                    </div>
                </div>
                {{/if}}
                {{/foreach}}
                {{/get}}
            </div>
        </div>
    </div>
</header>